@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");

body {
    margin: 0;
    background-color: #0A0A0A;
    font-size: 160%;
    font-family: Inter, sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.btn {
    background-color: #232323;
    border-radius: 1em;

    padding: 0.4em;
    margin-bottom: 0.4em;
    flex-grow: 1;
    width: 50%;
}

.btn img {
    max-height: 2em;
}

p {
    margin: 0;
    text-align: center;
}

.row {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 0.4em;
}

header {
    background-color: #8B6BFF;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

header h2 {
    text-align: center;
    margin: 0;
}

.social-media {
    width: auto;
    display: flex;
    justify-content: center;
    padding: 0.6em 0;
}
.social-media img {
    height: 2.5em;
    max-height: none;
}