.card {
    background-color: #232323;
    border-radius: 1.3em;
    padding: 1em;
    width: 25%;
    margin: 0.3em;
}

p {
    font-size: 0.9em;
    margin: 0;
}

p.p-title {
    font-size: 1.2em;
    font-weight: 600;
}


.add-card {
    border-style: dashed;
    border-color: #898989;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy_btn {
    transition-duration: 0.1s;
    font-weight: 300;
    color: #ccc;
    cursor: pointer
}