<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>DigitVisit - ваша цифровая визитка</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <script src="{% static 'scripts/index.js' %}"></script>
</head>
<body>

<div class="nav-desktop">
    <a href="/" class="logo">DigitVisit</a>
    <div class="nav-right">
        <a href="{% url 'profile_page' %}">Создать</a>
        <a href="#tarifs">Тарифы</a>
        <a href="#questions">Вопросы</a>
    </div>
</div>
<div class="nav-mobile">
    <p style="margin: 0" align="center"><a href="/" class="logo">DigitVisit</a></p>
</div>

<br>
<h2 style="text-align: center">Цифровые визитки DigitVisit</h2>
<div class="sections">
    <div class="row pluses">
        <div class="plus red">
            <img src="{% static 'images/fire.png' %}" alt="">
            <p class="plus-head">Удобный формат</p>
            <p class="plus-text">Новый способ обмена контактами позволяет забыть о бумажных
                визитках</p>
        </div>
        <div class="plus blue">
            <img src="{% static 'images/share.png' %}" alt="">
            <p class="plus-head">Легко поделиться</p>
            <p class="plus-text">Покажите собеседнику QR-код или отправьте в чат короткую
                ссылку</p>
        </div>
        <div class="plus grey">
            <img src="{% static 'images/notebook.png' %}" alt="">
            <p class="plus-head">Перенос данных в контакты</p>
            <p class="plus-text">Нажатием одной кнопки ваш клиент может добавить номер телефона
                в контактную книжку</p>
        </div>
        <div class="plus yellow">
            <img src="{% static 'images/message.png' %}" alt="">
            <p class="plus-head">Все самое нужное</p>
            <p class="plus-text">В визитку можно занести всю необходимую информацию для
                связи с вами</p>
        </div>
        <div class="plus green" style="width: 100%;">
            <img src="{% static 'images/Dribbble.png' %}" alt=""
                 style="transform: rotate(20deg); max-width: 15%;">

            <p class="plus-head">Добавляйте портфолио</p>
            <br>
            <br>
            <p class="plus-text">В визитку можно прикрепить ссылки на свой Behance, Github, Dribbble и другие
                сервисы</p>
        </div>
    </div>

</div>
<br>
<br>
<div class="steps">
    <div class="step">
        <div class="step-num">
            <p align="center">1</p>
        </div>
        <p align="center" style="width: auto;">Зарегистрируйтесь</p>
    </div>
    <div class="step">
        <div class="step-num">
            <p align="center">2</p>
        </div>
        <p align="center" style="width: auto;">Заполните профиль</p>
    </div>
    <div class="step">
        <div class="step-num">
            <p align="center">3</p>
        </div>
        <p align="center" style="width: auto;">Поделитесь визиткой</p>
    </div>
</div>
<br>
<br>
<br>
<h2 align="center"><a name="tarifs">Тарифы</a></h2>
<div class="steps">
    {% for i in tarifs %}
        <div class="step tarif">
            <h3 style="margin-top: 0;" align="center">{{ i.0 }}</h3>
            <div style="min-height: 11em">
                <ol>
                    {% for item in i.1 %}
                        <li style="color: #aaa">{{ item }}</li>
                    {% endfor %}
                </ol>
            </div>
            <br>
            <p align="center" style="font-weight: 600;">{{ i.2 }}</p>
            <br>
            <p align="center" style="color: #999">{{ i.3 }}</p>
        </div>
    {% endfor %}
</div>
<br>
<br>
<br>
<h2 align="center"><a name="questions"></a> Частые вопросы</h2>
<div class="questions">
    {% for i in questions %}
        <div class="question">
            <a href="javascript:showAnswer({{ forloop.counter }})">
                <p>{{ i.0 }}</p>
                <p style="float: right; font-size: 1.8em; transition-duration: 0.4s; vertical-align:middle;"
                   id="question{{ forloop.counter }}">+</p>
            </a>
            <p id="answer{{ forloop.counter }}"
               style="display: none; margin-top: 0.8em; color: #bbb">{{ i.1 }}</p>
        </div>
    {% endfor %}
</div>
</body>
</html>