<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ title }}</title>

    {% load static %}
    {% load socialaccount %}

    <link rel="stylesheet" href="{% static "css/style1.css" %}">
    <link rel="stylesheet" href="{% static "css/login.css" %}">

</head>
<body>
<h2 align="center">{{ title }}</h2>
<div align="center">
    <div class="login">
        <div class="login-inner" style="width: 14em; margin: auto;">
            <div align="left">
                <a href="javascript:history.go(-1);">
                    <img src="{% static 'images/arrow.svg' %}" alt="">
                    <p style="vertical-align: middle">&nbsp; Назад</p>
                </a>
            </div>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'remember' %}
                        {{ field }}
                    {% endif %}
                    {% if field.errors %}
                        {% for err in field.errors %}
                            <p class="error" style="margin-left: 0.2em;">{{ err }}</p>
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                {% for err in form.non_field_errors %}
                    <p class="error">{{ err }}</p>
                {% endfor %}
                <br>
                <div style="line-height: 1.75em">
                    <a href="{{ signup_url }}"
                       style="vertical-align: middle; font-size: 0.8em; color: #bbb; display: inline-block; float:left;">Зарегистрироваться</a>

                    <div style="float: right; vertical-align: middle;">
                        <input type="submit" value="Войти" class="btn btn-success" style="min-width: auto">
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </form>
            <br>
            <div align="left">

                <a href="{% provider_login_url 'google' %}">Войти с помощью Google</a>
                <a href="{% provider_login_url 'vk' %}">Войти с помощью ВК</a>
            </div>

        </div>
    </div>
</div>
</body>