<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ title }}</title>

    {% load static %}
    {% load socialaccount %}

    <link rel="stylesheet" href="{% static "css/style1.css" %}">
    <link rel="stylesheet" href="{% static "css/login.css" %}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.1.0/flexboxgrid2.css">


</head>
<body>
<div class="space"></div>
<h2 align="center">{{ title }}</h2>
<div align="center">
    <div class="login">
        <div class="login-inner" style="width: 14em; margin: auto;">
            <div align="left">
                <a href="/">
                    <img src="{% static 'images/arrow.svg' %}" alt="">
                    <p style="vertical-align: middle">&nbsp; Назад</p>
                </a>
            </div>
            <form method="post">
                {% if message %}
                    <p style="color: #dd3841; font-size: 0.8em">{{ message }}</p>
                    <br>
                {% endif %}
                {% csrf_token %}

                {{ form.login }}
                {{ form.password }}
                <br>
                <div style="line-height: 1.75em">
                    <a href="{{ signup_url }}"
                       style="vertical-align: middle; font-size: 0.8em; color: #bbb; display: inline-block; float:left;">Зарегистрироваться</a>

                    <div style="float: right; vertical-align: middle;">
                        <a href="{% url 'profile_page' %}" class="btn btn-success">Войти</a>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </form>
            <br>

            <a href="{% provider_login_url 'google' %}">Войти с помощью Google</a>
            <a href="{% provider_login_url 'vk' %}">Войти с помощью ВК</a>

            <div style="clear: both;"></div>
        </div>
    </div>
</div>
</body>