<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>DigitVisit - ваша цифровая визитка</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>

<div class="nav-desktop">
    <a href="{% url 'profile_page' %}" class="logo">DigitVisit</a>
    <div class="nav-right">
        <a href="/settings">Настройки</a>
        <a href="{% url 'account_logout' %}">Выйти</a>
    </div>
</div>
<div class="nav-mobile">
    <p style="" align="center"><a href="/" class="logo">DigitVisit</a></p>
</div>
<div style="margin: 2em;">
    {% if user_info.Имя %}
        <h4>Здравствуйте, {{ user_info.Имя }}!</h4>
    {% else %}
        <h4>Здравствуйте!</h4>
    {% endif %}
    <h3>Ваши визитки</h3>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap">
        {% for card in cards %}
            <div class="card">
                <p class="p-title">{{ card.title }}</p>

                <br>
                <p>Создано: {{ card.create_date }}</p>
            </div>
        {% endfor %}
        <div class="card add-card">
            <a href="{% url 'create' %}">
                <p style="font-size: 2em; display:inline-block; width: 100%;">+</p>
            </a>
        </div>
    </div>
    <br>
    <h3>Подписка</h3>
    <div>
        {% if not subscription_is_active %}
            <p>Подписка не активна</p>
            <p>Перейдите на тариф Pro и получите доступ к новым возможностям сервиса</p>
        {% else %}
            <p> Подписка {{ subscription.subscription.name }}. Активна до {{ subscription.end_date }}</p>
            {% if time_left < 7 %}
                <p>Ваша подписка скоро заканчивается! Осталось всего {{ time_left }} дн.</p>
            {% else %}
                <p>Подписка активна. Осталось {{ time_left }} дн.</p>
            {% endif %}
        {% endif %}
    </div>

</div>
</body>