<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>DigitVisit - ваша цифровая визитка</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.1.0/flexboxgrid2.css">
</head>
<body>

<div class="nav-desktop">
    <a href="{% url 'profile_page' %}" class="logo">DigitVisit</a>
    <div class="nav-right">
        <a href="/settings">Настройки</a>
        <a href="{% url 'account_logout' %}">Выйти</a>
    </div>
</div>
<div class="nav-mobile">
    <p style="margin: 0" align="center"><a href="/" class="logo">DigitVisit</a></p>
</div>

<h4>Здравствуйте, {{ user.first_name }}</h4>
<h3>Ваши визитки</h3>
{% for card in cards %}
    <div class="question">
        {{ card.title }}
        <br>
        Создано: {{ card.create_date }}
    </div>
{% endfor %}
<a href="add/hello" class="btn btn-success">Создать</a>
<h3>Подписка</h3>
<div>
    <p>{{ subscription }}</p>
</div>
<br>
</body>