<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width; initial-scale=0.7">


    <title>DigitVisit - ваша цифровая визитка</title>

    {% load static %}
    {% load poll_extras %}
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <meta property="og:title" content="{{ card_content| getkey:'Фамилия' }} {{ card_content| getkey:'Имя' }}">
    <meta property="og:site_name" content="Визитка DigitVisit">
    <meta property="og:url" content="{{ domain }}{{ request.path }}">
    <meta property="og:image" content="{{ card_content| getkey:'Изображение' }}">
    <meta prefix="og:image:width" content="400">
    <meta property="og:image:height" content="400">

</head>
{% if card_content|getkey:'Место работы' %}
    <header>
        <h2>{{ card_content| getkey:'Место работы' }}</h2>
    </header>
{% endif %}
<body>
<div class="row">
    <img src="{{ card_content| getkey:'Изображение' }}" alt="" style="width: 45%; object-fit: cover">
    <div style="width: 45%;">
        <p style="text-align: left;font-weight: 700;">{{ card_content| getkey:'Фамилия' }} {{ card_content| getkey:'Имя' }}</p>
        <br>
        <p style="text-align: left;font-weight: 500;">{{ card_content| getkey:'Возраст' }}</p>
        <p style="text-align: left; font-weight: 300; color: #cccccc">{{ card_content| getkey:'Должность' }}</p>
    </div>
</div>
<br>
<div class="row">
    <div class="btn">
        <a href="tel:{{ card_content.Телефон }}">
            <div align="center" style="display:flex; flex-direction: column">
                <img src="{% static 'images/phone.svg' %}" alt="" style="margin: auto;">
                <p style="margin-top: 0.4em;">Телефон</p>
            </div>
        </a>
    </div>
    <div class="btn">
        <a href="mailto:{{ card_content.Email }}">
            <div align="center" style="display:flex; flex-direction: column">
                <img src="{% static 'images/mail.svg' %}" alt="" style="margin: auto;">
                <p style="margin-top: 0.4em;">Email</p>
            </div>
        </a>
    </div>
</div>
{% if card_content|getkey:'' %}
    <div class="row">
        <div class="btn" style="width: 100%; padding: 0;">
            <div style="padding: 1em">
                <h3 style="margin: 0 0 0.6em;">О себе</h3>
                <p style="text-align: left; color: #d9d9d9; font-weight: 300;">
                    {{ card_content| getkey:'О себе' }}
                </p>
            </div>
        </div>
    </div>
{% endif %}
</body>